.table {
  margin: auto;
  width: 1250px;
}

.table-row {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.table-item {
  width: 600px;
  padding: 20px;
}

.nom-food-header {
  height: 100px;
  margin: 20px;
}

.table-item.dog-food {
  border-right: 1px solid gray;
}

.table-item-food-image{
  height: 250px;
  margin-bottom: 20px;
}

.table-item-macros {
  text-align: left;
}