.comparison {
  margin: 3%;
  margin: 20px;
}

.comparison-select {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 1250px;
}

.comparison-select-options{
  width: 600px;
  text-align: left;
}